{% extends "base_generic.html" %}

{% block content %}
  <h1>Accueil de l'Hotel TOMBOCTO  </h1>
  <p>Bienvenue à la page d'acceuille, un site web développé par <em>Nohayla</em>!</p>
  <h2>Contenu dynamique</h2>
  <p>L'Hotel dispose des enregistrements suivantes:</p>
  <ul>
    <li><strong>Demandes:</strong> {{ num_demandes }}</li>
    <li><strong>Reservations:</strong> {{ num_reservations }}</li>
    <li><strong>Chambres disponibles:</strong> {{ num_chambers_available }}</li>
  </ul>
{% endblock %}
