{% extends "base_generic.html" %}
{% block title %}
    <title>La liste des chambre</title>
    {% endblock title %}
    {% block content %}
    <div class="container">
    <h1>La listes des differentes chambres </h1>
        {% csrf_token %}

          <table border="2" class="table text-center table-hover table-bordered caption-top">
            <thead class="table-dark">
              <tr>
                <th> Numero </th>
                <th> Type </th>
                <th> Prix </th>
                <th> Etage </th>
                <th> Numero Telephone </th>
                <th> Menage </th>
                <th colspan="2"> actions     </th>
              </tr>
            </thead>
            <tbody>
              {% for chamber in chamber_list %}
              <tr>
                <td>{{chamber.chamber_number}}</td>
                <td>{{chamber.chamber_type.type_name}}</td>
                <td>{{chamber.chamber_type.type_price}}</td>
                <td>{{chamber.chamber_stage}}</td>
                <td>{{chamber.chamber_phone}}</td>
                <td>{{chamber.chamber_cleaned}}</td>
                <td colspan="2">(<a href=" {% url 'GestionHotel:chamber-update' chamber.id %} ">Modifier</a>)   (<a href=" {% url 'GestionHotel:chamber-delete' chamber.id %} ">suprimer</a>)</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="container">
            <p> <a href="{% url 'GestionHotel:chamber-creation' %}"> Ajouter une nouvelle Chambre </a></p>

          </div>


{% endblock content %}
